<div class="item" ng-controller="WidgetMessagesController">
  <div class="dash-unit">
    <div class="dash-title">
      {{ widget.title }}
    </div>
    <div class="dash-content">
      <div ng-repeat="element in data">
        <div class="message message-{{element.type}}">
          {{ element.message }}
        </div>
      </div>
    </div>
    <div class="dash-footer">
      <span class="dash-description">
        {{ widget.description }}
      </span>
      <div class="pull-right">
        <i class="as-link glyphicon glyphicon-th-list" ng-click="openDataList({})"></i>
        <i class="as-link glyphicon glyphicon-plus" ng-click="openAddDataPoint({})"></i>
        <i class="as-link glyphicon glyphicon-cog" ng-click="openWidgetSettings({})"></i>
      </div>
    </div>
  </div>
</div>

