<div class="modal-header">
    <h3 class="modal-title">Historic values</h3>
</div>
<div class="modal-body">
  <table class="table table-condensed table-striped table-hover">
    <thead>
      <th>Fecha</th>
      <th>Valor</th>
    </thead>
    <tbody>
      <tr ng-repeat="item in data">
        <td>{{ item.createdAt }}</td>
        <td>{{ item.valueNumber }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>