<div class="modal-header">
  <h3 class="modal-title">List all storages</h3>
</div>
<div class="modal-body">
  <table class="table table-condensed table-striped table-hover">
    <thead>
      <th>ID</th>
      <th>Source</th>
      <th>Type</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr ng-repeat="source in storage">
        <td>{{ source.id }}</td>
        <td>{{ source.name }}</td>
        <td>{{ source.type }}</td>
        <td>{{ source.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>
