@small: 25%;
@medium: 50%;
@large: 70%;

body { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	background: #000;
}

#page {
  margin-top: 4.75em;
}

.packery {
  
}

/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

.as-link {
	cursor: pointer;
}

.graph-status {
	margin-top: 1em;
}

.dash-unit {
    background: none repeat scroll 0 0 #222222;
    border: 2px solid #000;
    color: #fff;
    margin-right: 1em;

    .dash-title {
    	padding: 0.5em 1em;
    	font-size: 1em;
    	border-bottom: 1px solid #000;
    	background: #111;
    	text-transform: uppercase;
    }

    .dash-content {
    	padding: 1em;
    	color: #eee;
    	min-height: 150px;

    	h1 {
	    	font-weight: bold;
    		font-size: 4em;
    		margin: 0;
    	}

    	h2 {
    		margin: 0;
    	}
    }

    .dash-footer {
    	padding: 1em;
    	font-size: 90%;
    	color: #999;
    	background: #111;
    }
}

.item,
.grid-sizer {
  width: @small;
}

.item {
  min-height: 160px;
  float: left;
  overflow: hidden;
  background: #000;
}

.item.w2 { width:  @medium; }
.item.w4 { width:  @large; }

.item.h2 { height: 160px; }
.item.h4 { height: 320px; }

.message {
    border-bottom: 1px solid #999;
    padding: 0.5em 1em;
}

.message-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.message-error {
  color: #a94442;
  background-color: #f2dede;
}

.message-info {
  color: #31708f;
  background-color: #d9edf7;
}

.well {
  background-color: #eee;
}